h1 {
  color: blue;
}

h2 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

ul {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 100px;
}

.turkey {
  font-style: italic;
}

.elf {
  text-decoration: underline;
}